<div class="header">
    <div>
        <h1>File Uploader</h1>
    </div>
    <div>
        <form action="/home/log-out" method="get">
            <button type="submit">Log Out</button>
        </form>
    </div>
</div>