<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload/<%= userId %>" method="post" enctype="multipart/form-data">
        <div>
            <label for="folders">Folders</label>
            <select name="folder" id="folders">
                <option value="none">None</option>
                <% if (locals.folders) { %>
                   <% folders.map(folder => { %>
                        <option value="<%= folder.name %>"><%= folder.name %></option>
                    <% }) %>
                <% } %>
            </select>
        </div>
        <div>
            <label for="upload">upload</label>
            <input type="file" name="filename" id="upload">
        </div>
        <button type="submit">Upload File</button>
    </form>
    <a href="/home">Back</a>
</body>
</html>